/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Дополнительный цвет текста (заголовок, футер) #FFFFFF */

/* Цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */

/* Акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --defaul-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие атрибуты */

body {
  /* background-color: #e5e5e5; */
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.hover-focus:hover,
.hover-focus:focus {
  color: var(--accent-color);
}

.site-nav.list .current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Лооготип */
.first-logo,
.second-logo,
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.second-logo {
  color: #000000;
}

.footer-logo {
  color: #ffffff;
}
.first-logo {
  color: var(--accent-color);
}
/* Навигационное меню */

.nav-address {
  margin-left: auto;
}

.header-nav .nav-address .address {
  display: flex;
  align-items: center;
}

.header-nav .address-item-list {
  display: flex;
  align-items: center;
}

.header-nav .mail-item {
  margin-right: 30px;
}

/* .header-nav .mail-link,
.header-nav .tel-link {
  margin-right: 10px; */

.nav-address .address-text {
  display: flex;
  align-items: center;
}

.nav-address .address {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: content-box;
}

.icon-mail-svg {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  transition: 250ms var(--defaul-cubic-bezier);
}
.address-text:hover .icon-mail-svg,
.address-text:focus .icon-mail-svg {
  stroke-width: 2px;
  fill: var(--accent-color);
}
.icon-tel-svg {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  transition: 250ms var(--defaul-cubic-bezier);
}
.address-text:hover .icon-tel-svg,
.address-text:focus .icon-tel-svg {
  stroke-width: 2px;
  fill: var(--accent-color);
}

.first-logo {
  margin-right: 7px;
}

.logo {
  margin-right: 85px;
}

.site .header-nav {
  display: flex;
  align-items: center;
}
.site .site-nav {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.site .site-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-text,
.address-text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  transition: 250ms var(--defaul-cubic-bezier);
}

.site-nav-text {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
}
.site-nav-list-item {
  position: relative;
}
.site-nav-text.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 5px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-text {
  font-style: normal;
  font-family: Roboto;
  color: var(--primary-text-color);
}
.site-nav-text {
  color: var(--title-text-color);
}
.site {
  background-color: #ffffff;
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/hero-section/hero-img-bcg.jpg);
  background-size: cover;
}

.hero .hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-top: 0px;

  animation-name: heroAction, heroActionOpacity;
  animation-duration: 1500ms;
  animation-timing-function: var(--defaul-cubic-bezier);
}
@keyframes heroAction {
  from {
    transition: scale(1.15);
  }
  to {
    transition: scale(1);
  }
}
@keyframes heroActionOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.services-btn {
}

.general-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border: none;

  animation-name: heroAcrionButton;
  animation-timing-function: var(--defaul-cubic-bezier);
  animation-duration: 3000ms;
  animation-direction: alternate;
}
@keyframes heroAcrionButton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* О нас */

.about-us-item-list {
  display: flex;
  /* flex-wrap: wrap; */
  width: 270px;
  flex-direction: column;
}

.about-us {
  padding-top: 94px;
}

.about-us-item {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  flex-grow: 1;
  margin-bottom: 0px;
  /* background-color: teal; */
  justify-content: center;
}

.about-us .about-us-item-list:not(:last-child) {
  margin-right: 30px;
}

/* .about-us .about-us-img {
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
} */
.about-us-icon-svg {
  width: 70px;
  height: 70px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about-us .about-us-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.about-us .about-us-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* .about-us-img:hover,
.about-us-img:focus {
  background-color: var(--accent-color);
} */
.about-us {
  background-color: #ffffff;
}

/* Чем мы занимаемся */
/* Наша команда */

.features .container {
  /* background-color: teal; */
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-text-color);
}
.features .features-item {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: center;
}
.features .features-item-list:not(:last-child) {
  margin-right: 30px;
}
.features .features-title {
  margin-bottom: 50px;
}

.features .features-title,
.our-team .our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
}

.features .features-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.features-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Наша команда */

.our-team {
  padding-top: 94px;
}

.our-team-item {
  /* background-color: teal; */
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: center;
}

.our-team-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.our-team-item-list:not(:last-child) {
  margin-right: 30px;
}

.our-team-item-list {
  background-color: var(--second-text-color);
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.our-team-item-photo {
  margin-bottom: 30px;
}

.our-team .our-team-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team .our-team-text {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.our-team .social {
  display: flex;
  background-color: var(--second-text-color);
  width: 206px;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.our-team-social-svg {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms var(--defaul-cubic-bezier);
}
.icon-container-link:hover .our-team-social-svg,
.icon-container-link:focus .our-team-social-svg {
  fill: var(--second-text-color);
}
.icon-container-link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms var(--defaul-cubic-bezier);
}
.icon-container-link:hover,
.icon-container-link:focus {
  background-color: var(--accent-color);
}
.our-team .our-team-social:hover,
.our-team .our-team-social:focus {
  color: var(--accent-color);
  /* background-color: var(--accent-color); */
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
}

/* Постоянные клиенты */

.clients {
  margin-top: 0px;
  margin-bottom: 50px;
}

.clients-link-list {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: solid #afb1b8 1px;
  border-radius: 4px;
  transition: 250ms var(--defaul-cubic-bezier);
}
.clients-link-list:hover,
.clients-link-list:focus {
  border-color: var(--accent-color);
}

.clients-item-list:not(:last-child) {
  margin-right: 30px;
}
.clients-main {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}
.clients-item {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.clients-main .clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.clients-main .clients-icon-svg {
  display: flex;
  align-self: center;
  fill: #afb1b8;
  transition: 250ms var(--defaul-cubic-bezier);
}
.clients-link-list:hover .clients-icon-svg,
.clients-link-list:focus .clients-icon-svg {
  fill: var(--accent-color);
}

/* Футер */

.footer-main {
  padding-bottom: 42px;
  background-color: #2f303a;
}
.footer-main-container {
  display: flex;
  align-items: baseline;
  padding-top: 90px;
}
.footer-address {
  display: flex;

  /* padding-top: 78px; */
  flex-direction: column;
  justify-content: center;
  width: 231px;
  margin-right: 69px;
}
.footer-main .link.logo {
  display: flex;
  margin-bottom: 20px;
  margin-right: 0px;
  width: 153px;
}

.footer.list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-address-container {
  display: flex;
  flex-direction: column;
  width: 231px;
}
.footer-main .footer {
  padding-left: 0px;
}
.footer-list-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer-mailto-link,
.footer .footer-tel-link,
.footer .footer-address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: 250ms var(--defaul-cubic-bezier);
}

.footer .footer-address-link {
  color: var(--second-text-color);
}
.footer .footer-mailto-link,
.footer .footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-address-link:hover,
.footer .footer-address-link:focus {
  color: var(--accent-color);
}
.footer .footer-mailto-link,
.footer .footer-tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .footer-mailto-link:hover,
.footer .footer-mailto-link:focus {
  color: var(--accent-color);
}
.footer .footer-tel-link:hover,
.footer .footer-tel-link:focus {
  color: var(--accent-color);
}
.footer-icon-social-svg {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: var(--second-text-color);
}

.icon-container-link.footer-social:hover,
.icon-container-link.footer-social:focus {
  background-color: var(--accent-color);
}
/* Присоединяйтесь */

.footer-main .join-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 90px; */
}

.join-in-social {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: space-around;
}
.join-in-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.join-in-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.join-in-link-social:hover,
.join-in-link-social:focus {
  color: var(--accent-color);
}
.icon-container-link.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
}
.join-in-social-list:not(:last-child) {
  margin-right: 10px;
}
.join-in {
  margin-right: 94px;
}
/* Подписаться на нас - форма */

.follow-us-title {
  display: flex;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.follow-us-form {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  transition: border 250ms var(--defaul-cubic-bezier);
}
.follow-us-form:focus {
  border: 1px solid var(--accent-color);
}
.follow-us-container {
  display: flex;
}
.follow-us-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: var(--second-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* .test {
  width: 24px;
  height: 24px;
  fill: white;
  z-index: 100;
} */

.follow-us-btn-title {
  margin-right: 10px;
}

.follow-us-btn::after {
  content: "";
  background-image: url(../image/icon-send.svg);
  background-repeat: no-repeat;
  fill: white;
  width: 24px;
  height: 24px;
}

/* !!!! Портфолио !!!! */

/* Фильтр-кнопки */

.header-main {
  background-color: #ffffff;
}

.portfolio .portfolio-item-btn {
  display: flex;
  margin-top: 0px;
  margin-bottom: 34px;
  padding-left: 0px;
  justify-content: center;
}
.portfolio-item-list:not(:last-child) {
  margin-right: 8px;
}
.portfolio-section {
  padding-top: 93px;
}
.portfolio .portfolio-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--defaul-cubic-bezier),
    color 250ms var(--defaul-cubic-bezier),
    box-shadow 250ms var(--defaul-cubic-bezier);
}
.portfolio .portfolio-btn:hover,
.portfolio .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.portfolio-item.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: -15px;
  padding-left: 0px;
  padding-bottom: 94px;
  justify-content: center;
  /* background-color: teal; */
}
.portfolio-item-element {
  display: block;
  /* width: calc((100% - 60) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;
  /* padding-bottom: 20px; */
  border: 1px solid #eeeeee;
  /* width: 370px; */
  margin: 15px;
}
.portfolio-item-element:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio .portfolio-title {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio .portfolio-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio .portfolio-pre-text {
  display: flex;

  padding-left: 25px;
  padding-right: 25px;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio .item-link {
  display: flex;
}
.portfolio-item-element {
  display: block;
}
/* .portfolio-item-element:focus,
.portfolio-item-element:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
} */

.portfolio-item-link {
  display: block;
  width: 370px;
  height: 404px;
  text-decoration: none;
  transition-duration: 250ms;
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio {
  background-color: var(--second-text-color);
}
.portfolio-item-wrapper {
  display: block;
  position: relative;
  height: 294px;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms var(--defaul-cubic-bezier),
    opacity 250ms var(--defaul-cubic-bezier);
}

.portfolio-item-link:hover .wrapper,
.portfolio-item-link:focus .wrapper {
  transform: translateY(-100%);
  opacity: 1;
}
.is-hidden {
  opacity: 0;
  transform: scale(1.1);
  pointer-events: none;
  transition: transform 250ms var(--defaul-cubic-bezier),
    opacity 250ms var(--defaul-cubic-bezier);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--defaul-cubic-bezier),
    opacity 250ms var(--defaul-cubic-bezier);
}
.modal-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #ffffff;
}
.modal-form-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form-input {
  position: relative;
  height: 40px;
  width: 448px;
}
.modal-form-input,
.modal-form-textarea {
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-form-input:not(:placeholder-shown),
.modal-form-input:focus,
.modal-form-textarea:not(:placeholder-shown),
.modal-form-textarea:focus {
  outline-color: var(--accent-color);
}
.modal-form-textarea {
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  resize: none;
}

.modal-form-icon-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 110;
  transition: fill 250ms var(--defaul-cubic-bezier);
}
.modal-form-icon-close:focus,
.modal-form-icon-close:hover {
  fill: var(--accent-color);
}

.modal-form-container {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 28px;
}
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86;
  /* identical to box height */

  letter-spacing: 0.01em;
  /* display: flex; */
  position: absolute;
  padding-left: 42px;
}
.close-btn {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: none;
}

/* @keyframes AnimationLabel {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateX(-100%);
  }
} */
/* .modal-lable:not(:placeholder-shown) {
} */
/* .modal-form-input:focus + .modal-lable, */
.modal-form-input:not(:placeholder-shown) + .modal-label {
  color: var(--accent-color);
  transition: transform 250ms var(--defaul-cubic-bezier),
    color 250ms var(--defaul-cubic-bezier);
  transform: translate(-40%, -300%);
}

.modal-form-input + .modal-label {
  transition: transform 250ms var(--defaul-cubic-bezier),
    color 250ms var(--defaul-cubic-bezier);
  transform: translate(0%, 0%);
}
.modal-form-icon-svg {
  position: absolute;
  left: 16px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--defaul-cubic-bezier);
}
.modal-form-input:not(:placeholder-shown) ~ .modal-form-icon-svg {
  fill: var(--accent-color);
  transition: fill 250ms var(--defaul-cubic-bezier);
}
.modal-btn-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.modal-checkbox-container {
  /* position: relative; */
  margin-bottom: 30px;
  padding-left: 77px;
  padding-right: 50px;
}
.modal-custom-checkbox {
  position: absolute;
  display: inline-block;
  bottom: 124px;
  left: 51px;
  width: 15px;
  height: 14px;
  fill: var(--second-text-color);
  border: solid 2px var(--title-text-color);
  border-radius: 15%;
  transition: background-color 250ms var(--defaul-cubic-bezier),
    border 250ms var(--defaul-cubic-bezier);
}
.modal-form-checkbox:checked ~ .modal-custom-checkbox {
  background-color: var(--accent-color);
  border: solid 2px var(--accent-color);
}
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-checkbox-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: (var(--primary-text-color));
}
.modal-form-title-link {
  color: var(--accent-color);
}
